.Blog__View {
  display: inline-block;
  justify-self: center;
}

.Blog__View {
  cursor: pointer;
}

.Blog__View path {
  fill: var(--icon-color);
}

.Blog__View:hover path {
  fill: var(--icon-color-hover);
}

.Blog__View.selected path {
  fill: var(--icon-color-selected);
}
