.challenges {
  margin: 1rem;
}

.challenge__links{
  display: flex;
  justify-content: space-evenly;
}

.challenge li{
  list-style: disc;
  list-style-position: inside;
}

.challenge__subList{
  padding-inline-start: 20px;
}

.challenge__subList li{
  list-style-position: inside;
  list-style-type: lower-latin;
}

.challenges__col {
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

.challenges__image{
  width: 100%;
}

@media screen and (min-width: 768px) {
  .challenges__col {
    align-items: flex-start;
  }
}