.About {
  margin: 1rem;
}

.About__col {
  text-align: justify;
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

.About__col__title{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (min-width: 768px) {
  .About__col {
    align-items: flex-start;
  }
}

