.selected{
  color: rgb(59,59,59)
}

.Blog {
  margin-top: 1rem;
}

.BlogList ul > li {
  margin-bottom: 1rem;
}

.Blog__col {
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}
.Blog__header{
  display: grid;
  grid-template-columns: 77% 1fr 1fr 1fr;
  align-items: center;
}

.Blog__orderView svg:hover {
  color: rgb(59, 59, 59);
}

.Blog__orderView {
  color: rgb(150, 150, 150);
  display: inline-block;
  text-align: center;
}

.BlogListItem {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  line-height: 1.5;
}

.BlogListItem__grid {
  display: grid;
  grid-template-columns: 100fr 1fr;
}

.BlogListItem__preview {
  margin: 1rem;
  width: 120px;
  height: 120px;
  border-radius: 10%;
}

.BlogEntry__title {
  padding: 0.5rem 1rem;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.BlogEntry__title:hover, .BlogList__readMore:hover, .BlogEntry__tags:hover{
  text-decoration: underline;
}
.BlogEntry__excerpt, .BlogList__metaName, .BlogEntry__meta{
  padding:0 1rem;
}

.BlogEntry__excerpt{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.BlogList__metaName{
  padding-bottom: 0.5rem;
}

.Posts{
  display: grid;
  grid-template-columns: repeat(3,230px);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  padding-bottom: 50px;
}

.post{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.post .content{
  padding: 5px;
}

.post__meta{
  padding-left: 5px;
}


.post__header{
  display: block;
}

.post__a{
  background-color: transparent;
}

.post__title{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Post__cover{
  height: 200px;
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .Blog__col {
    align-items: flex-start;
  }

}

@media screen and (max-width: 768px) {
  .Blog__header{
    display: grid;
    grid-template-columns: 25fr 5fr 5fr 5fr;
    align-items: center;
  }
}

