.Blog {
  margin-top: 1rem;
}

.BlogList ul > li {
  margin-bottom: 1rem;
}

.Blog__col {
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}



.Blog__header{
  display: grid;
  grid-template-columns: 540px 1fr 1fr 1fr;
  align-items: center;
}

.Blog__orderView:hover {
  cursor: pointer;
  color: rgb(150, 150, 150);
  
}

.Blog__orderView {
  color: rgb(59, 59, 59);
  display: inline-block;
}

.Posts{
  display: grid;
  grid-template-columns: repeat(3,230px);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  margin: 10px auto 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  padding-bottom: 50px;
}

.post{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.post .content{
  padding: 5px;
}

.post__meta{
  padding-left: 5px;
}

.BlogListItem {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 1rem;
  line-height: 2.5;
}

.BlogListItem__preview {
  background: #a3a3a3;
  width: 150px;
  height: 110px;
  margin-right: 0.5rem;
}

.BlogEntry__title {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 110px;
  font-size: 1em;
}

.article{
  display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 500px;
}

.post__header{
  display: block;
}

.post__a{
  background-color: transparent;
}

.Post__cover{
  height: 200px;
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .Blog__col {
    align-items: flex-start;
  }
}