.Home {
  background-color: var(--home-background-color);
  background-image: var(--hero-img);
  background-size:cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90.6vh;
  margin: 0 auto;
  display: inline-flex;
  top: 1.4vh;
  justify-content: center;
  transition: background-color var(--switch-transition), background-image var(--switch-transition);
}

.Home__col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Home__container{
  padding: 3em;
}
.Home__container__profileImg{
  margin: 0 auto 10px;
  border-radius:50%;
  display: block;
}

.Home__container__name{
  font-family: Georgia,Times New Roman,Times,serif;;
  font-size: 2.5rem;
}

.Home__container__button{
  margin-top: 1.5rem;
}

.Home__container__icons {
  margin: 1.5rem 0;
}

.Home__container__icons a{
  padding: 0rem 1.5rem;  
}

.Home__container__icons a svg g{
  fill: var(--icon-color);
}

.Home__container__icons a:hover svg g{
  fill: var(--icon-color-hover);
}