.Home {
  position: absolute;
  text-align: center;
  background-color: var(--home-background-color);
  background-image: var(--hero-img);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-color var(--switch-transition),
    background-image var(--switch-transition);
  padding: 3em;
  z-index: -1;
  width: 100%;
  min-height: calc(100vh - 50px);
}

.Home__profileImg {
  margin: 0 auto 10px;
  border-radius: 50%;
  display: block;
}

.Home__name {
  font-family: var(--pageTitle-font-family);
  font-size: 2.5rem;
}

.Home__button {
  margin-top: 1.5rem;
}

.Home__icons {
  margin: 1.5rem 0;
}

.Home__icons a {
  padding: 0rem 1.5rem;
}

.Home__icons a svg path {
  fill: var(--icon-color);
}

.Home__icons a:hover svg path {
  fill: var(--icon-color-hover);
}
