html.webp .Home{
  background-image: Url('../../images/cover.webp');
}

html:not(.webp) .Home{
  background-image: Url('../../images/cover.jpg');
}

.Home {
  background-size:cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 90.6vh;
  margin: 0 auto;
  display: inline-flex;
  position: relative;
  top: 1.4vh;
  justify-content: center;
}

.hero_img{
  padding: 3em;
  margin:0 auto;
  text-align: center;
}
.hero_img .profileImg{
  margin: 0 auto 10px;
  border-radius:50%;
  display: block;
}

.Home__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons a{
  padding: 14px 25px;
  display: inline-block;
}

.icons a:hover svg g{
  fill: rgb(150, 150, 150);
}

@media screen and (min-width: 768px) {
  .Home__col {
    align-items: flex-start;
  }
}