.NotFound__container {
  background: var(--background);
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: background var(--switch-transition);
}

.phrase__container {
  width: 37rem;
}
.error {
  font-size: 6rem;
}
.phrase {
  font-size: 2.1rem;
}
