.Portfolio {
  margin: 1rem;
}

.Portfolio__col {
  text-align: justify;
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .Portfolio__col {
    align-items: flex-start;
  }
}
