

.BlogListItem {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
}

.BlogListItem__preview {
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 150px;
  height: 100px;
}
