.Footer {
  display: block;
  position: fixed;
  bottom: 0;
  height: 20px;
  width: 100vw;
  text-align: center;
  background-color: var(--background);
  z-index: 20;
  transition: background-color var(--switch-transition);
}

.Footer span {
  font-family: var(--general-font-family);
  font-size: 0.8rem;
  margin: auto;
  display: block;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}

.Footer span:before {
  display: block;
  box-sizing: border-box;
  content: "";
  width: 800px;
  height: 1px;
  background: var(--footer-line);
  margin: auto;
  transition: background var(--switch-transition);
}
