.Navbar {
  min-height: 8vh;
  text-align: center;
  align-items: center;
  font-size: 21px;
  display: flex;
  box-shadow: -6px 0 white, 6px 0 white, 1px 3px 6px rgba(0, 0, 0, 0.15);
}

.Navbar__brand {
  color: #000000;
  margin: 1em;
  display: inline;
  align-items: center;
}

.Navbar__brand:hover {
  color: #504f4f;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  a:not(:first-child) {
    display: none;
  }
  a.icon {
    float: right;
    display: block;
  }
  @media screen and (max-width: 600px) {
    .responsive {
      position: relative;
    }
    .responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
