.Navbar {
  min-height: 8vh;
  text-align: center;
  align-items: center;
  font-size: 21px;
  display: flex;
  box-shadow: -6px 0 white, 6px 0 white, 1px 3px 6px rgba(0, 0, 0, 0.15);
}

.Navbar__brand {
  color: #000000;
  margin: 1em;
  display: inline;
  align-items: center;
}

.Navbar__brand:hover {
  color: #808080;
  text-decoration: none;
}
