.Navbar__mobileHeader{
  display: none;
}

#sidebar ul li{
  display: inline;
}

.active{
  text-decoration: underline;
}

.Navbar {
  text-align: center;
  align-content: center;
  background-color: var(--navbar-background);
  height: 8vh;
  text-align: center;
  align-items: center;
  font-size: 1.34rem;
  position: relative;
  display: flex;
  box-shadow: -6px 0 rgb(27, 24, 24), 6px 0 rgb(82, 82, 82), 1px 3px 6px rgba(0, 0, 0, 0.15);
  transition: background-color var(--switch-transition);
}

.Navbar__header{
  display: none;
}

.Navbar__navLink >li{
  color: var(--navbar-color);
  margin: 1em;
}

.Navbar__navLink >li a:hover {
  color: #808080;
  text-decoration: none;
}

.Navbar__navLink__switch{
  position: absolute;
  top: 1.7vh;
  left: 70%;
  vertical-align: middle;
  align-content: center;
  cursor: pointer;
  margin: 0;
  width: 5rem;
  height: 1.3em;
  border-radius: 50px;
  background: var(--switch-background);
  padding: 5px;
  user-select: none;
}
.Navbar__navLink__switch::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  background-image: var(--switch-icon);
  /* background-color: var(--switch-button); */
  border-radius: 50%;
  box-sizing: border-box;
  transform: translate(-50px);
  transition: var(--switch-transition);
  will-change: auto;
}

#switch{
  display: none;
}

#switch:checked ~ .Navbar__navLink__switch:before{
  transform: translateX(0);
}

@media screen and (max-width: 600px){
  .Navbar .container-fluid{
    padding-left:0;
  }
  
  .Navbar__mobileHeader{
    font-family: Georgia, "Times New Roman", Times, serif;
    display: block;
    position: absolute;
    width: 100vw;
  }

  #sidebar ul a{
    display: block;
    padding: 10px 10px;
    text-align: left;
    border-bottom: 1px solid rgba(107, 107, 107, 0.192);
  }
  #sidebar ul{
    background-color: var(--navbar-background);
    transition: background-color var(--switch-transition);
    height: 100vh;
  }

  #sidebar{
    position: absolute;
    top: 0;
    width: 280px;
    z-index: 10;
    left: -190px;
    padding-right: 90px;
  }

  #sidebar.show {
    position: absolute;
    left: 0px;
    transition: all 400ms linear;
  }
  #sidebar.show .toggleBtn{
    position:absolute;
    left: 150px;
    top: 10px;
  }
  #sidebar .toggleBtn{
    position:absolute;
    cursor: pointer;
    left: 230px;
    top: 10px;
  }

  

  #sidebar .toggleBtn span{
    display: block;
    width: 30px;
    height: 5px;
    background: var(--title);
    margin: 5px 0px;
  }

  #sidebar.show .toggleBtn span:nth-last-child(1){
    opacity: 1;
  transform: rotate(45deg) translate(0px, 0px);
  transition: all 400ms linear;
  }
  #sidebar.show .toggleBtn span:nth-last-child(2){
    position: absolute;
    top: 10px;
    transform: rotate(-45deg) translate(0px, 0px);
    transition: all 400ms linear;
  }
  #sidebar.show .toggleBtn span:nth-last-child(3){
    opacity: 0;
  }
}