.Blog__header {
  display: grid;
  grid-template-columns: repeat(2, auto) repeat(3, 55.33px);
  align-items: center;
  padding-bottom: 0.5rem;
}

.Blog__header button {
  border: none;
  background-color: unset;
  padding: 0;
  width: fit-content;
  justify-self: center;
}

.Blog__header__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}

.Blog__gridView {
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  padding-bottom: 50px;
}

@media screen and (max-width: 991.98px) {
  .Blog__header {
    display: grid;
    grid-template-columns: repeat(2, auto) repeat(3, 55.33px);
    align-items: center;
  }

  .Blog__gridView {
    grid-template-columns: repeat(2, 48%);
  }
}

@media screen and (min-width: 991.98px) {
  .Blog__gridView {
    grid-template-columns: repeat(2, 48.3%);
  }
}

@media screen and (min-width: 1200px) {
  .Blog__gridView {
    grid-template-columns: repeat(3, 31.5%);
  }
}

@media screen and (max-width: 490px) {
  .Blog__header__title {
    display: none;
  }

  .Blog__header {
    grid-template-columns: repeat(1, auto) repeat(3, 55.33px);
  }

  .Blog__gridView {
    display: grid;
    grid-template-columns: repeat(2, 47%);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    padding-bottom: 50px;
  }
}
