.Rand {
  margin: 1rem;
}

.Rand__col {
  text-align: justify;
  position: static;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
}

.Rand__title {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
}

.chi-eq{
  text-align: center;
}

.fraction {
  display: inline-block;
  vertical-align: middle; 
  margin: 0 0.2em 0.4ex;
  text-align: center;
}
.fraction > span {
  display: block;
  padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid var(--content);}
.fraction span.bar {display: none;}

@media screen and (min-width: 768px) {
  .Rand__col {
    align-items: flex-start;
  }
}
